<section class="intro container">
	<div ng-controller="actionCtrl"  class="home">

  	<h1 class="text-center">Michael Gregory Davis</h1>
		<div class="row text-center action-row">
			<div class="btn btn-success"  ng-click="animateCalloutDiv('swing')">
					Swing
				</div>	

				<div class="btn btn-primary"  ng-click="animateCalloutDiv('bounce')">
					Bounce
				</div>	

				<div class="btn btn-danger"  ng-click="animateCalloutDiv('pulse')">
					Pulse
				</div>
		</div>
		<div class="row text-center hero">
			<h3>About Me</h3>
			<p>I'm a software engineer living in Washington DC. I have experiecne web developing with HTML5, Ruby on Rails, and JavaScript. I have a focus on user-centered UX/UI for websites and mobile applications. I also have experience with educational software. I enjoy BDD developement. I unit test AngularJS with Jasmine, and can test API endpoints using Jasmine.</p>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-3">
				<div class="row about">
					<h3>Contact</h3>
					<p></p>
				</div>
			</div>
		 		<div class="col-md-3">
					<div class="row about">
						<h3>Blog</h3>
						<a>Jasmine describes Closure</a>
						<i class="fa fa-cog fa-spin"></i>
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div>	 		
				<div class="col-md-3">
					<div class="row about">
						<h3 ng-click="gotoProjects()">Projects</h3>				
						<a>Educational Software</a>
						<i class="fa fa-refresh fa-spin"></i>
						<br>
						<a>Social Media Apps</a>
						<i class="fa fa-cog fa-spin"></i>
					</div>
				</div>
		</div>		
	</div>
</section>
<div id="projects" class="container-fluid">
	<div class="row">
	</div>
	<div class="row">
		<h2 class="text-center">Recent Projects, Software, and Collaborations</h2>
	</div>		
	<div class="col-md-offset-2 col-md-8">
		<div class="thumbnail">
			<img id="pdr1" width="600px" src="assets/zoomph3.png">
			<div class="caption text-center">
				<h3>Zoomph</h3>
				<p class="techs">
				  <span class="label label-default">Bootsrap</span>
				  <span class="label label-default">JavaScript</span>
				  <span class="label label-default">AngularJS</span>
				  <span class="label label-default">jQuery</span>
				  <span class="label label-default">HTML 5</span>
				  <span class="label label-default">CSS 3</span>
				  <span class="label label-default">AJAX</span>
				</p>
				<p>
          <a href="https://zoomph.com/" class="btn btn-default" target="_blank"><i class="fa fa-external-link-square"></i> Website</a>
        </p>
        <p>Zoomph provides companies with the toolds to search, curate, analyze and display social content on sites. It monitors social media for clients and provides extra security to protect twitter or instagram from dangerous content. Always for control for fans to access social media, but always clients to stay in complete control of social displays. Clients include Baltimore Orioles, Washinton Capitals, Encore, Emaar, and Mercedes-Benz</p>
			</div>			
		</div>
	</div>
	<div class="col-md-offset-2 col-md-8">
		<div class="thumbnail">
			<img id="pdr1" width="600px" src="assets/pdr2.png">
			<div class="caption text-center">
					<h3>PDredesign</h3>

					<p class="techs">
					  <span class="label label-default">Ruby</span>
					  <span class="label label-default">Ruby on Rails</span>
					  <span class="label label-default">Bootsrap</span>
					  <span class="label label-default">Jasmine</span>
					  <span class="label label-default">JavaScript</span>
					  <span class="label label-default">AngularJS</span>
					  <span class="label label-default">jQuery</span>
					  <span class="label label-default">HTML 5</span>
					  <span class="label label-default">CSS 3</span>
					  <span class="label label-default">Heroku</span>
					</p>
					<p>
	          <a href="http://pdredesign.org/" class="btn btn-default" target="_blank"><i class="fa fa-external-link-square"></i> Website</a>
	          <a href="//www.youtube.com/embed/v-ueg3RL1VI?rel=0" class="btn btn-default" target="_blank"><i class="fa fa-vimeo-square"></i> Video</a>
	        </p>
	        <p>Allow schools to create consensus Readiness assessments for  professional development. Assessments help engage in a candid, cross-functional discussion about innovative Professional Development tools. Develops high level understanding of the organization's current strengths and weaknesses and overall readiness, aid in the PD strategy design, and support the associated whole system change. Readiness Assessment consists of:
					Gathering a cross-functional team
					Having each team member review and fill out the assessment
					Discussing the questions one by one as a group, coming to a consensus on a score for each question, and providing evidence and bright spots to support the consensus score
					Creating the report: After filing out the scoring rubric, a printable version of the assessment report will be generated</p>
			</div>			
		</div>
	</div>
</div>