<div ng-controller="actionCtrl"  class="home">

	<div class="btn btn-success"  ng-click="animateCalloutDiv('swing')">
		Swing
	</div>	

	<div class="btn btn-success"  ng-click="animateCalloutDiv('bounce')">
		Bounce
	</div>	

	<div class="btn btn-success"  ng-click="animateCalloutDiv('pulse')">
		Pulse
	</div>	
	<a class="pull-right git"   href="https://github.com/Kizziah">
		<img href="" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_color-128.png">
	</a>

	<div class="row">
	  <div my-draggable>
			<div class="col-md-offset-2 col-md-3">
				<div class="row about">
					<h3>About Me</h3>
					<p>I'm an experiecned web developer with HTML5, Ruby on Rails, and JavaScript. Focus on user-centered UX/UI for websites and mobile applications. I also have experience with educational software. I have a strong focus for BDD developement</p>
				</div>
			</div>
	  </div>
		<div my-draggable>
	 		<div class="col-md-3">
				<div class="row about">
					<h3>Blog</h3>
					<a>Jasmine describes Closure</a>
					<i class="fa fa-cog fa-spin"></i>
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>


	</div>
</div>
