<div ng-controller="actionCtrl">
 
	<span my-draggable>Hello</span>
	<span ng-click="punch()">Mike</span>

</div>
<div swing class="about">
	Swing
</div>
<div boomerang class="box">
	boomerang
</div>
