<h1>Listing games</h1>
<div swing class="swing">
  <div class="btn btn-success">Swing</div>
</div>
<table>
  <tbody>
  <% 10.times do %>
    <tr>X
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
      <td>Y</td>
    </tr>   
  <% end %>         
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
