// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
 	// background: url(/assets/zoomph1.png) no-repeat 17px 7px;
}

section.intro {
	margin-bottom: 430px;
}

div#projects {
	background: black;
	height: 100%;
	width: 102%;
  color: #eee !important;
  padding-bottom: 300px;
 
  .btn-default {
		border: 1px solid #28c3ab;
		color: #28c3ab;
		background-color: transparent;
	}

	h2 {
		margin-top: 50px
	}
}

div.thumbnail {
	background: transparent;
	border: 1px solid #469186;
}

.thumbnail p {
	margin-bottom: 10px;
	color: #eee !important;
	font-size: 16px;
}

.thumbnail .caption {
	padding: 9px;
	color: #333;
}

img#pdr1{
}

span.label-default {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #28c3ab;
	color: black;
}

.thumbnail h3 {
	margin-bottom: 10px;
	font-size: 18px;
	color: #28c3ab !important;
}

.hero {
	font-size: 18px;
	padding: 20px;
}

// div.code {
// 	background-color: #293D42;
// 	text-shadow: #002b36 0 1px;
// 	color: white;
// }

// pre.code {
// 	background-color: rgb(24, 49, 87);
// 	color: rgb(255, 242, 0);
// }

// pre.line-number {
// 	background-color: rgb(24, 49, 87);
// 	color: rgb(255, 242, 0);

// }
